@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  image-rendering: pixelated;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(215, 255, 219);
  filter: sepia(90%) hue-rotate(52deg);
  color: rgb(63, 63, 63);
  transform: perspective(9000px) translateZ(-9px);
}

* {
  box-sizing: border-box;
}

.border {
  border: 3px solid transparent;
  border-image: url("https://github.com/bobbygraczyk/rogue-tactics/raw/master/public/set_2.png") 3 / 16px;
  padding: 16px;
}